header {
 padding: 2rem $gutter;
 h1 {
    font-size: 2rem;
    font-weight: $boldWeight;
}   
}

// navigation stuff starts
nav {
    ul {
        display: flex;
        flex-direction: row;
    } //end of ul
    li.active a {
        background-color: $activeColor ; //e88fe0 e88fd3
        color: white;
        border-radius: 5px;
        margin: 4px;
    } 
    a {
        margin: 4px;
    }
} //end of nav stuff

div.imageParent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}